@model IEnumerable<APP1.Models.withRoleDTO>
@{
    ViewData["Title"] = "With Role";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>User Id</td>
            <td>User Name</td>
            <td>User Pass</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Role</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.username</td>
                <td>@user.userpass</td>
                <td>@user.name</td>
                <td>@user.surname</td>
                <td>@user.role</td>
                <td><a href="../edituser/@user.Id">Edit</a></td>
                <td>
                    @Html.ActionLink("Delete",
                "delete", "home",
                new { id = user.Id})
                </td>
            </tr>
        }
    </tbody>
</table>
@foreach(var ali in Model)
{
    <div>@ali.name @ali.surname</div>    
}
